*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 78.5%;
  font-family: sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: #222;
  cursor: default;
  overflow: hidden;
  background: #fff;
}
.position,
.margin,
.border,
.padding,
.content {
  padding: 0.3rem;
  margin: 0.3rem;
}
.position,
.margin,
.top,
.bottom,
.left,
.right,
.border,
.padding,
.content {
  display: inline-block;
}
.margin,
.left,
.right,
.border,
.padding,
.content {
  vertical-align: middle;
}
.margin,
.border,
.padding,
.content {
  transition: transform 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955), box-shadow 1.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transform: translateZ(0.1px);
}
.margin:hover,
.border:hover,
.padding:hover,
.content:hover {
  transform: translateZ(2.8rem);
  box-shadow: -1.5rem 3rem 1rem rgba(0,0,0,0.1);
}
.metrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  white-space: nowrap;
  height: 100vh;
  transition: all 0.2s ease-out;
  perspective: 80rem;
}
.position {
  border: 0.1rem #999 dotted;
  transform-style: preserve-3d;
  opacity: 0;
  -webkit-animation: rot 5s cubic-bezier(0.35, 0, 0, 1.01) 1s forwards;
  animation: rot 5s cubic-bezier(0.35, 0, 0, 1.01) 1s forwards;
}
.margin {
  border: 0.1rem dashed;
  background: rgba(246,178,107,0.659);
  transform-style: preserve-3d;
}
.label {
  position: absolute;
  margin-left: 0.3rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.border {
  border: 0.1rem #000 solid;
  background: rgba(255,229,153,0.659);
  transform-style: preserve-3d;
}
.padding {
  border: 0.1rem #808080 dashed;
  background: rgba(147,196,125,0.549);
  transform-style: preserve-3d;
}
.content {
  border: 0.1rem #808080 solid;
  min-width: 8rem;
  overflow: visible;
  background: rgba(111,168,220,0.659);
}
aside {
  position: fixed;
  top: 5%;
  right: 0;
}
@media (min-width: 320px) {
  html {
    font-size: 87.5%;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 96.5%;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 105.5%;
  }
}
@media (min-width: 560px) {
  html {
    font-size: 114.5%;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 123.5%;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 132.5%;
  }
}
@media (min-width: 800px) {
  html {
    font-size: 141.5%;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 159.5%;
  }
}
@-webkit-keyframes rot {
  30% {
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform: rotateX(50deg) rotateZ(-30deg);
    opacity: 1;
  }
}
@keyframes rot {
  30% {
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform: rotateX(50deg) rotateZ(-30deg);
    opacity: 1;
  }
}
