@import url("http://fonts.googleapis.com/css?family=Roboto:100");
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 78.5%;
  font-family: sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: #222;
  cursor: default;
  overflow: hidden;
  background: #fff;
}
.position,
.margin,
.border,
.padding,
.content {
  padding: 0.3rem;
  margin: 0.3rem;
}
.position,
.margin,
.top,
.bottom,
.left,
.right,
.border,
.padding,
.content {
  display: inline-block;
}
.margin,
.left,
.right,
.border,
.padding,
.content {
  vertical-align: middle;
}
.margin,
.border,
.padding,
.content {
  transition: background 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transform: translateZ(2.8rem);
}
.metrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  white-space: nowrap;
  height: 100vh;
  perspective: 80rem;
}
.position {
  border: 0.1rem #999 dotted;
  transform-style: preserve-3d;
  opacity: 0;
  -webkit-animation: rot 5s cubic-bezier(0.35, 0, 0, 1.01) 1s forwards;
  animation: rot 5s cubic-bezier(0.35, 0, 0, 1.01) 1s forwards;
}
.margin {
  border: 0.1rem dashed;
  background: rgba(246,178,107,0.659);
  transform-style: preserve-3d;
}
.label {
  position: absolute;
  margin-left: 0.3rem;
  padding: 0 0.2rem;
}
.border {
  border: 0.1rem #000 solid;
  background: rgba(255,229,153,0.659);
  transform-style: preserve-3d;
}
.padding {
  border: 0.1rem #808080 dashed;
  background: rgba(147,196,125,0.549);
  transform-style: preserve-3d;
}
.content {
  border: 0.1rem #808080 solid;
  min-width: 8rem;
  overflow: visible;
  background: rgba(111,168,220,0.659);
}
.white {
  background: rgba(255,255,255,0.95);
}
aside a {
  display: block;
}
.shape-gh,
.shape-tw,
.shape-in {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.shape-gh {
  fill: #333;
}
.shape-tw {
  fill-rule: evenodd;
  fill: #55acee;
}
.shape-in {
  fill: #0077b5;
}
.wm {
  position: fixed;
  display: flex;
  align-items: flex-start;
  width: 3.2rem;
  height: 3.2rem;
  padding-bottom: 0.6rem;
  top: 2%;
  left: 2%;
  background: url(/img/wm.png);
  border-radius: 100%;
  background-size: cover;
  cursor: pointer;
  outline: 0;
}
.wm:hover,
.wm:focus {
  top: calc(2% + 1px);
}
.bubble {
  opacity: 0;
  display: block;
  position: relative;
  left: calc(0.6rem + 100%);
  min-height: 2.6rem;
  padding: 0.4rem;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: 100;
  background: #fafafa;
  border-radius: 0.2rem;
  border-bottom-left-radius: 0;
  flex: 0 0 6.9rem;
  transition: all 0.07s ease-out;
  -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,0.07)) drop-shadow(0 1px 2px rgba(0,0,0,0.14));
  filter: drop-shadow(0 1px 3px rgba(0,0,0,0.08)) drop-shadow(0 1px 2px rgba(0,0,0,0.16));
}
.wm:hover .bubble,
.wm:focus .bubble {
  opacity: 1;
}
.bubble:before {
  content: '';
  display: block;
  position: absolute;
  right: 100%;
  bottom: 0;
  height: 0;
  border: 0.6rem solid transparent;
  border-right-width: 0;
  border-bottom-color: #fafafa;
}
.social-cnt {
  display: flex;
  position: absolute;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 0;
}
@media (min-width: 960px) {
  .social-cnt {
    flex-direction: column;
    left: initial;
    bottom: initial;
    top: 0;
  }
}
.social-item {
  flex: 0 0 2.4rem;
  height: 2.4rem;
  margin: 0.7rem;
}
@media (min-width: 960px) {
  .social-item {
    width: 2.4rem;
  }
}
@media (min-width: 960px) {
  .plus-cnt {
    order: -1;
  }
}
.plus {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 800px) {
  .plus-s {
    display: none;
  }
}
.plus-l {
  display: none;
}
@media (min-width: 800px) {
  .plus-l {
    display: flex;
  }
}
@media (min-width: 320px) {
  html {
    font-size: 87.5%;
  }
}
@media (min-width: 400px) {
  html {
    font-size: 96.5%;
  }
}
@media (min-width: 480px) {
  html {
    font-size: 105.5%;
  }
}
@media (min-width: 560px) {
  html {
    font-size: 114.5%;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 123.5%;
  }
}
@media (min-width: 720px) {
  html {
    font-size: 132.5%;
  }
}
@media (min-width: 800px) {
  html {
    font-size: 141.5%;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 159.5%;
  }
}
@-webkit-keyframes rot {
  30% {
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform: rotateX(60deg) rotateZ(-45deg);
    opacity: 1;
  }
}
@keyframes rot {
  30% {
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform: rotateX(60deg) rotateZ(-45deg);
    opacity: 1;
  }
}
