*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-family: sans-serif;
  -moz-user-select: none;
  -webkit-user-select: none;
  color: #222;
  cursor: default;
  overflow: hidden;
}
.position,
.margin,
.border,
.padding,
.content {
  padding: 0.3rem;
  margin: 0.3rem;
}
.position,
.margin,
.top,
.bottom,
.left,
.right,
.border,
.padding,
.content {
  display: inline-block;
}
.margin,
.left,
.right,
.border,
.padding,
.content {
  vertical-align: middle;
}
.metrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  white-space: nowrap;
  height: 100vh;
  transition: all 0.3s ease-out;
}
.position {
  border: 0.1rem #999 dotted;
}
.margin {
  border: 0.1rem dashed;
  background: rgba(246,178,107,0.659);
}
.label {
  position: absolute;
  margin-left: 0.3rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.border {
  border: 0.1rem #000 solid;
  background: rgba(255,229,153,0.659);
}
.padding {
  border: 0.1rem #808080 dashed;
  background: rgba(147,196,125,0.549);
}
.content {
  border: 0.1rem #808080 solid;
  min-width: 8rem;
  overflow: visible;
  background: rgba(111,168,220,0.659);
}
@media (min-width: 480px) {
  html {
    font-size: 134.5%;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 125.5%;
  }
}
@media (min-width: 800px) {
  html {
    font-size: 116.5%;
  }
}
@media (min-width: 960px) {
  html {
    font-size: 107.5%;
  }
}
@media (min-width: 1120px) {
  html {
    font-size: 98.5%;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 89.5%;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 62.5%;
  }
}
